.intro {
	position: absolute;
	top: 20vh;
	left: 10vh;
	right: 10vh;
}

.intro h1 {
	text-align: center;
	font-weight: bolder;
	font-size: 8.5vw;
	color: white;
	z-index: 200;
}

.intro h3 {
	text-align: center;
	font-weight: bold;
	font-size: 4vh;
}

.intro hr {
	position: relative;
	margin-left: 20vw;
	margin-right: 20vw;
	border: 1px dashed white;
}

.contagem {
	font-family: Helvetica, sans-serif;
	background: #212121;
	width: 100%;
	height: 70vh;
}

.contagem h1 {
	text-align: center;
	color: white;
	font-size: calc(100vh/15);
}

.sobre {
	width: 100%;
	height: 80%;
	background: white;
	color: #212121;
}

.sobre h1 {
	text-align: center;
	font-weight: bolder;
	margin-bottom: 5vh;
	font-size: calc(100vh/15);
}

.sobre div {
	margin-left: 10vw;
	margin-right: 10vw;
	margin-bottom: 10vh;
	font-size: calc(100vh/30);
	text-align: justify;
}

.sobre div em {
	font-weight: bold;
	font-style: italic;
}

.palestrantes {
	width: 100%;
	background: #edc000;
	color: #212121;
	padding-bottom: 50px;
}

.palestrantes h1 {
	text-align: center;
	font-weight: bolder;
	color: #212121;
	margin-bottom: 8vh;
	font-size: calc(100vh/15);
}

.palestrantes .capt {
	font-size: calc(100vh/30);
	padding-bottom: 20px;
	text-align: justify;
}

.palestrantes .capt h3 {
	font-weight: bold;
	font-size: calc(100vh/30);
}

.palestrantes .foto {
	width: calc(100vw/6);
}

.palestrantes hr {
	border: 2px dashed #212121;
}

@media (max-width: 660px) {
	
	.sobre div {
		text-align: left;
	}

	.palestrantes .capt {
		text-align: left;
	}

	.palestrantes .foto {
		width: calc(100vw/1);
	}
}